button {
    background-color: #008CBA;
    color: white;
    text-align: center;
    height: 30px;
    width: 100px;
    outline: none;
    margin-top: 10px;
    border: none;
    border-radius: 2px;
}

button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
}

h1 {
    color: #008CBA;
}
